{% extends "layout.html" %}
{% block body %}
<ul>
{% for sname, val in means %}
<li>{{sname}}: {{ val }}</li>
{% endfor %}
</ul>
<p>
<div id="chartZoom">
    <a href="#" id="zoomIn">Zoom In</a> <a href="#" id="zoomOut">Zoom Out</a>
</div>
</p>
<div id="chart2" class='with-transitions'>
    <svg></svg>
</div>
{% endblock %}
{% block javascript %}
<!--[-->
  <!--{-->
    <!--"key": "Series 1",-->
    <!--"values": [ [ 1025409600000 , 0] , [ 1028088000000 , -6.3382185140371] , [ 1030766400000 , -5.9507873460847] , [ 1033358400000 , -11.569146943813] , [ 1036040400000 , -5.4767332317425] , [ 1038632400000 , 0.50794682203014] , [ 1041310800000 , -5.5310285460542] , [ 1043989200000 , -5.7838296963382] , [ 1046408400000 , -7.3249341615649] , [ 1049086800000 , -6.7078630712489] , [ 1051675200000 , 0.44227126150934] , [ 1054353600000 , 7.2481659343222] , [ 1056945600000 , -->
<script>
    var s1 = {{ s1|safe }};
    var s2 = {{ s2|safe }};
    var s3 = {{ s3|safe }};
    var s4 = {{ s4|safe }};
    var days = {{ dt|safe }};
    var data = [
            {
            key: "SERIA1",
            values: s1
            },
            {
            key: "SERIA2",
            values: s2
            },
            {
            key: "SERIA3",
            values: s3
            },
            {
            key: "SERIA4",
            values: s4
            }

    ];

    nv.addGraph(function() {
        var chart = nv.models.lineChart()
            .color(d3.scale.category10().range())
            .margin({top: 30, right: 60, bottom: 50, left: 70});
        var fitScreen = false;
        var width = 500;
        var height = 300;
        var zoom = 1;

        chart.useInteractiveGuideline(true);

        chart.xAxis
            .tickFormat(function(d){
            return days[d]
        });

        chart.lines.dispatch.on("elementClick", function(evt) {
            console.log(evt);
        });


        <!--d3.select('#chart2 svg')-->
            <!--.attr('perserveAspectRatio', 'xMinYMid')-->
            <!--.attr('width', width)-->
            <!--.attr('height', height)-->
            <!--.datum(data);-->
         d3.select('#chart2 svg')
            .attr('perserveAspectRatio', 'xMinYMid')
            .datum(data);


        setChartViewBox();
        resizeChart();

        nv.utils.windowResize(resizeChart);

        d3.select('#zoomIn').on('click', zoomIn);
        d3.select('#zoomOut').on('click', zoomOut);


        function setChartViewBox() {
            var w = width * zoom,
                h = height * zoom;

            chart
                .width(w)
                .height(h);

            d3.select('#chart2 svg')
                .attr('viewBox', '0 0 ' + w + ' ' + h)
                .transition().duration(500)
                .call(chart);
        }

        function zoomOut() {
            zoom += .25;
            setChartViewBox();
        }

        function zoomIn() {
            if (zoom <= .5) return;
            zoom -= .25;
            setChartViewBox();
        }

        // This resize simply sets the SVG's dimensions, without a need to recall the chart code
        // Resizing because of the viewbox and perserveAspectRatio settings
        // This scales the interior of the chart unlike the above
        function resizeChart() {
            var container = d3.select('#chart2');
            var svg = container.select('svg');

            if (fitScreen) {
                // resize based on container's width AND HEIGHT
                var windowSize = nv.utils.windowSize();
                svg.attr("width", windowSize.width);
                svg.attr("height", windowSize.height);
            } else {
                // resize based on container's width
                var aspect = chart.width() / chart.height();
                var targetWidth = parseInt(container.style('width'));
                svg.attr("width", targetWidth);
                svg.attr("height", Math.round(targetWidth / aspect));
            }
        }
        return chart;
    });




</script>
{% endblock %}
