<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lan Kontroler</title>

    <script src="{{ url_for('static', filename='js/chartist.js') }} "></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nv.d3.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/chartist.min.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/nv.d3.js') }} "></script>


    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/nv.d3.css') }}">-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>-->
    <!--<script src="{{ url_for('static', filename='js/nv.d3.js') }} "></script>-->

    <style>
        text {
            font: 12px sans-serif;
        }
        svg {
            display: block;
        }
        html, body, #chart1, svg {
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 100%;
        }
        #chartZoom {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
</head>
<body>
<div class=page>
    <p></p><a href="{{ url_for('chartist_view') }}">chartist_view</a></p>
    <p><a href="{{ url_for('d3nv_view') }}">d3nv_view</a></p>
    <p><a href="{{ url_for('d3nv_view2') }}">d3nv_view</a></p>
 {% block body %}{% endblock %}
</div>
{% block javascript %}{% endblock %}
</body>

</html>