<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lan Kontroler</title>

    <script src="{{ url_for('static', filename='js/chartist.js') }} "></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nv.d3.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/chartist.min.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/nv.d3.js') }} "></script>


      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<script src="{{ url_for('static', filename='js/bootstrap-filestyle.min.js') }}"></script>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui-1.10.0.custom.css') }}" >-->
    <!--<script src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/jquery-ui-1.9.2.custom.min.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='js/bootstrap-filestyle.min.js') }}"></script>-->
	<!--<link href="{{ url_for('static', filename='css/css.css') }}" rel="stylesheet">-->


    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/nv.d3.css') }}">-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>-->
    <!--<script src="{{ url_for('static', filename='js/nv.d3.js') }} "></script>-->

    <!--<style>-->
        <!--text {-->
            <!--font: 12px sans-serif;-->
        <!--}-->
        <!--svg {-->
            <!--display: block;-->
        <!--}-->
        <!--html, body, #chart1, svg {-->
            <!--margin: 0px;-->
            <!--padding: 0px;-->
            <!--height: 100%;-->
            <!--width: 100%;-->
        <!--}-->
        <!--#chartZoom {-->
            <!--position: absolute;-->
            <!--top: 0;-->
            <!--left: 0;-->
        <!--}-->
    <!--</style>-->
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">ChartsProject</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('chartist_view') }}">chartist_view</a></li>
    <li><a href="{{ url_for('d3nv_view') }}">d3nv_view</a></li>
    </ul>
  </div>
</nav>
<div class=page>
    DANE Z OSTATNICH {{ limit }}h
{% block body %}{% endblock %}
</div>
{% block javascript %}{% endblock %}
</body>

</html>